*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-list{
    padding: 50px;
    list-style: none;
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(auto-fill, 400px) ;
    /* grid-template-rows: repeat(auto-fill), 600px; */
    justify-content: center;
}
.image-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-item img{
    width: 400px;
    height: 400px;  
    object-fit: cover;
}
.image-item .icons{
 position: absolute;
}
.image-item i{
    color: rgb(255, 250, 250);
    font-size: 26px;
    margin: 25px;
}